.lista {
    list-style: none;
    font-size: 16px;
    

}
.lista li a:link {
    color: #09ff00;
    text-decoration: none;
    transition: 1s;
}
.lista li a:visited {
    color: #09ff00;
}
.lista li a:hover {
    color: #356133;
}

.barraMenu ul li a{
    color: #09ff00 !important;
    transition: 1s color;
}
.barraMenu ul li a:hover{
    color: #356133 !important;
}
.barraMenu {
    box-shadow: 0px 3px 40px #09ff00;
    margin-bottom: 30px;
}

.imgLogo {
    width: 100px;
    height: 80px;
}

.barraBaixo {
    margin-top: 30px;
    background-color: rgb(119, 119, 122);
    border-radius: 10px;
    
}
.barraBaixo h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}
.barraBaixo p {
    font-weight: bolder;
    opacity: 0.9;
}

body {
    background-color: rgb(119, 119, 122);
}

.homeTitulo {
    margin: 40px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-shadow: 0px 2px 20px #09ff00;

}